body{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: "Myriad Pro";
}

header{
    width: 100%;
}


.anchor{
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.container{
    background: #f6f2f2;
    max-height: auto;
    padding: 80px 0;
    letter-spacing: 0.5px;
}

.navigation{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 143px 89px;
    text-transform: uppercase;
    background: #313030;
}

.navigation a{
    flex-basis: 150px;
    text-align: center;
    padding: 44px 24px 34px;
    text-decoration: none;
    color: #e0e0e0;
    font-size: 14px;
    font-weight: bold;
    transition: 0.1s;
    letter-spacing: 1px;
}

.navigation a:hover{
    background: #ff3f40;
}

.container .contact{
    display: flex;
    padding: 0 143px ;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact .text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 295px;
    height: auto;
}

.contact .text span{
    max-width: 530px;
    width: auto;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
    margin-bottom: 10px;
}

.contact .text p{
    font-size: 16px;
    color: #494848;
    max-width: 449px;
    width: auto;
    margin: 0;
}

.contact .btn{
    width: 197px;
    font-size: 18.14px;
    background: #ff2d2d;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 2px;
    padding: 14px 0;
    border: none;
    border-radius: 4px;
    margin-top: 45px;
}

.video{
    width: 475px;
    border-bottom: 1px solid #b63434;
    box-shadow: -25px -25px 70px -20px rgb(119, 116, 116);
}

main{
    margin: 0 143px;
}

.provide{
    display: flex;
    justify-content: space-between;
    margin-top: 95px;
}

.provide .cardbtn{
    max-width: 449px;
    width: auto;
    height: auto;
    margin-right: 120px;
}

.provide h2{
    margin: 0;
    font-size: 36.38px;
    font-weight: bold;
    line-height: 1.4;
}

.provide p{
    font-size: 16px;
    line-height: 1.5;
    color: #454545;
    margin: 30px 0 0;

}

.provide .btn2{
    width: 195px;
    height: 45px;
    color: #dc3030;
    font-weight: bold;
    border: 2px solid #db0000;
    border-radius: 4px;
    background-color: #ffffff;
    margin-top: 44px;

}

.provide .cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.provide .card{
    max-width: 230px;
    width: auto;
    height: auto;
    margin-bottom: 35px;
}

.provide .card p{
    font-size: 16px;
    color: #4c4c4c;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 8px;
    margin-top: 18px;
}

.provide .card span{
    color: #5e5e5e;
    line-height: 1.4;
}

.line{
    border: none;
    background-color: #ebebeb;  
    height: 2px; 
    margin: 42px 0 0 0;

}

main .products{
    text-align: center;
    
}

main .products p{
    font-size: 36.38px;
    font-weight: bold;
    margin: 85px 0 18px;
}

main .products span{
    color: #5e5e5e;
    line-height: 1.4;
}

main .products hr{
    border: none;
    background-color: #dc3131;
    height: 2px;
    width: 113px;
    margin-top: 22px;
}

main .all{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 75px;
    flex-wrap: wrap;
}

main .all a{
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: #4c4c4c;
    font-weight: bold;
    padding: 0;
    margin-right: 52px;
}

main .all a:hover{
    color: #dc3030;
}

main .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 52px;
}

main .gallery img{
    width: 250px;
    height: 250px;
}    
    main .products_two p{
        font-size: 36.38px;
        font-weight: bold;
        margin: 96px 0 20px;
    }
    
    main .products_two span{
        color: #5e5e5e;
        line-height: 1.4;
    }
    
    main .products_two hr{
        border: none;
        background-color: #dc3131;
        height: 2px;
        width: 113px;
        margin-top: 23px;
        margin-left: 0;
        margin-right: 0;
    }

    main .mark{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-end;
        margin-top: 60px;
        /* max-height: 397px; */
        /* height: auto; */
        margin-bottom: 95px;
    }

    


    main .big_photo img{
        width: 250px;
        height: 250px;
        /* margin-right: 32px; */
    }
    
    main .text_two{
        width: auto;
        display: inline-block;
    }

    main .text_two h2{
        color: #333333;
        margin: 0;
    }

    main .text_two p{
        color: #5e5e5e;
        line-height: 1.4;
        margin-bottom: 35px;
    }
    
    main .text_two span{
        font-style: italic;
        color: #5e5e5e;
        font-weight: bold;
        margin-right: 25px;
    }


    .gallery_two{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 54px;
    }
    
    main .gallery_two div{
        display: flex;
    }
    
    main .dog {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* width: 23%; */
    }
    main .dog img{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 170px;
        height: 170px;
    }

    
    footer .forms{
        background: #f4f0dd;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #f3f1e8;
        border-top: 1px solid #e8e5d4;
    }

    footer .forms p{
        font-size: 36.38px;
        color: #ffffff;
        margin: 120px 0 25px;
    }

    footer .forms span{
        font-size: 13.86px;
        color: #ffffff;
        margin-bottom: 55px;
    }

    footer .forms form{
        margin-bottom: 120px;
    }

    footer .forms .email{
        width: 430px;
        height: 68px;
        border: none;
        border-radius: 4px;
        padding-left: 30px;
        font-size: 13.86px;
    }

    footer .forms .btn_two{
        text-transform: uppercase;
        background: #ff2d2d;
        color: #ffffff;
        border: none;
        width: 185px;
        height: 68px;
        padding: 0;
        border-radius: 4px;
        margin-left: 18px;
    }

    footer .touch{
        margin-left: 143px;
        /* max-width: 634px; */
        width: 100%;
        width: auto;
    }

    footer .touch p{
        font-size: 36.38px;
        font-weight: bold;
        margin: 85px 0 20px;
        
    }

    footer .touch span{
        color: #5e5e5e;
        line-height: 1.4;
        
        
    }

    footer .touch hr{
        border: none;
        background-color: #dc3131;
        height: 2px;
        width: 113px;
        margin-top: 23px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 65px;
    }
    
    footer .contact_info{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 95px;
        
    }
    footer .contact_info .input_bottom{
        margin-left: 143px;
        max-width: 650px;
        width: 100%;
    }
    

    .contact_info .inputs_one{
        display: flex;
        flex-wrap: wrap;
       justify-content: space-between;
    }

    .contact_info .enter_name{
        background: #e5e5e5;
        border: none;
        border-radius: 6px;
        padding: 25px 0 25px 46px;
        /* margin-right: 44px; */
        width: 247px;
    }
    
    .contact_info .enter_email{
        background: #e5e5e5;
        border: none;
        border-radius: 6px;
        padding: 25px 0 25px 46px;
        width: 247px;
        /* width: 100%; */
    }

    .contact_info .enter_message{
        background: #e5e5e5;
        border: none;
        padding-left: 46px;
        border-radius: 6px;
        padding-bottom: 165px;
        padding-top: 34px;
        margin-top: 39px;
        margin-bottom: 39px;
        width: 93%;
    }

    .contact_info .btn_three{
        color: #ffffff;
        text-transform: uppercase;
        background: #ff2d2d;
        border: none;
        border-radius: 6px;
        padding: 25px 0;
        /* max-width: 634px; */
        width: 100%;
    }
    
    .contact_info .city_phone{
        display: flex;
        flex-direction: column;
        background: #313131;
        padding: 0 130px 0 60px;
    }

    .contact_info .city_phone span{
        color: #919191;
        text-transform: uppercase;
        font-size: 15.59px;
        padding: 0;
        margin: 100px 0 0 0;
        width: 250px;
    }

    .contact_info .city_phone p{
        color: #919191;
        font-size: 13.86px;
        line-height: 2;
        padding: 0;
        margin: 0;
        width: 250px;
        padding-top: 30px;
    }

    .contact_info .city_phone div{
        color: #919191;
        font-size: 13.86px;
        line-height: 2;
        padding: 0;
        margin: 0;
        width: 250px;
        padding-top: 30px;
    }

    .contact_info .city_phone a{
        color: #919191;
        text-decoration: none;
    }

    
    footer .footer_end{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background: #343333;
        padding: 0 143px;
        /* margin-bottom: 95px; */
    }

    
    footer .footer_end p{
        color: #b7b7b7;
        padding: 47px 0 30px;
        margin: 0;
    }
    
    footer .footer_end img{
        padding-top: 40px;
    }
    
    @media screen and (max-width: 602px) {
        .provide{
            display: flex;
            justify-content: space-between;
            margin-top: 95px;
            flex-wrap: wrap;
        }
        .provide .cards {
            padding-top: 20px;
        }
        .contact_info .inputs_one{
            justify-content: center;

        }
        .contact_info .inputs_one input{
            margin-bottom: 10px;
        }
        .contact_info .enter_message{
            align-items: center;
        }
    }
    
    @media (max-width: 685px) {
        footer .forms{
            text-align: center;
        }
        footer .forms form{
            margin-bottom: 60px;
        }
        footer .forms .btn_two{
            margin-top: 20px;
        }
    }

    @media (max-width: 775px) {
        footer .footer_end{
            justify-content: center;
            text-align: center;
        }
        footer .footer_end img{
            padding-top: 0;
        }
        footer .footer_end p{
            color: #b7b7b7;
           
            margin: 0;
        }
        footer .footer_end area:focus {
            outline: none;
        }
    }

    @media (max-width: 1106px) {
        .contact_info .city_phone{
            
            margin: 20px 0 0 0;
            padding-bottom: 90px;
        }
    }

    @media screen and (max-width: 1209px) {
        main .all a {
           margin: 10px;
        }
    }
    
    @media (max-width: 1250px) {
        footer .contact_info{
            justify-content: center;
        }
        footer .contact_info .input_bottom{
            margin: 0;
        }
        
        footer .contact_info .inputs{
            flex-wrap: wrap;

        }

    }

    @media screen and (max-width: 1308px) {
        .container .contact {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .contact .text {
            text-align: center;
            align-items: center;
            padding-bottom: 50px;
        }
        
    }

    .tooltip{
        background-color: rgb(112, 112, 112, 0.5);
        font-size: 20px;
        font-family: sans-serif;
        padding: 5px;
    }


    


   